<div class="footer-container">
    <div class="footer-inner-container">
        <div class="wrap">
            <div class="col col-1"><a href="/" class="footer-logo"></a>
                <p class="footer-about">© 2019 7room</p>
                <p class="footer-about">Aya is brought to you by the team behind <a href="https://7room.net/gigatweaker">GIGATweaker</a>.</p>
            </div>
        </div>
        <div class="wrap-two">
            <div class="col col-2">
                <p class="col-title">Program</p>
                <div class="ul-wrap">
                    <ul>
                        <!-- <li><a href="">Contribute</a></li> -->
                        <li><a href="/pricing">Pricing</a></li>
                        <!-- <li><a href="/contact">Support</a></li> -->
                        <li><a href="/release-notes">Release Notes</a></li>
                        <li><a href="https://7room.net">About Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-3">
                <p class="col-title">Community</p>
                <div class="ul-wrap">
                    <ul>
                        <li><a href="">Suggest a Feature</a></li>
                        <li><a href="">Submit an issue</a></li>
                        <li><a href="">View backlog on Trello</a></li>
                        <li><a href="">Help translate</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-4">
                <p class="col-title">Legal</p>
                <div class="ul-wrap">
                    <ul>
                        <li><a href="/license-agreement">EULA</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-5">
                <p class="col-title">Support</p>
                <div class="ul-wrap">
                    <ul>
                        <li><a href="/license-agreement">EULA</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>