<div class="footer-container">
    <div class="footer-inner-container">
        <div class="wrap">
            <div class="col col-1"><a href="/" class="footer-logo"></a>
                <p class="footer-about">© 2019 7room</p>
                <p class="footer-about">Aya is brought to you by the team behind <a href="https://7room.net/gigatweaker">GIGATweaker</a>.</p>
            </div>
        </div>
        <div class="wrap-two">
            <div class="col col-2">
                <p class="col-title">Product</p>
                <div class="ul-wrap">
                    <ul>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/release-notes">Release Notes</a></li>
                        <li><a href="https://github.com/7room/aya">GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-3">
                <p class="col-title">Contribute</p>
                <div class="ul-wrap">
                    <ul>
                        <li><a href="https://github.com/7room/aya/issues/new?template=bug_report.md">Submit a bug</a></li>
                        <li><a href="https://github.com/7room/aya/issues/new?template=feature_request.md">Suggest a feature</a></li>
                        <li><a href="https://github.com/7room/aya/wiki/Localization">Help translate</a></li>
                        <li><a href="https://buymeacoffee.com/paulem">Buy us a coffee</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-4">
                <p class="col-title">Support</p>
                <div class="ul-wrap">
                    <ul>
                        <li><a href="https://github.com/7room/aya/wiki/FAQ">FAQ</a></li>
                        <li><a href="https://7room.net">About us</a></li>
                        <li><a href="mailto:mailbox@7room.net">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-5">
                    <p class="col-title">Legal</p>
                    <div class="ul-wrap">
                        <ul>
                            <li><a href="/eula">EULA</a></li>
                            <li><a href="/privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>