<div class="header-inner-container-row row-1">
    <div class="col"><a href="/" class="header-inner-container-row-logo"></a> <a href="#remodal-mobile-menu" class="header-inner-container-row-mobile-menu js-mobile-menu"
            data-remodal-target="remodal-mobile-menu"></a>
        <ul class="header-inner-container-row-menu">
            <!-- <li><a href="/">Contribute</a></li> -->
            <li><a href="/pricing">Pricing</a></li>
            <!-- <li><a href="/contact">Support</a></li> -->
            <li><a href="/release-notes">Release Notes</a></li>
            <li><a href="https://7room.net">About Us</a></li>
        </ul>
    </div>
    <div class="header-inner-container-row-social"><a href="" class="header-inner-container-row-social-item" style="background-image: url('/img/ico/social/twitter.svg');"></a>
        <a href="" class="header-inner-container-row-social-item" style="background-image: url('/img/ico/social/facebook.svg');"></a>
        <a href="" class="header-inner-container-row-social-item" style="background-image: url('/img/ico/social/github.svg');"></a></div>
</div>